#app{
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
}

main{
    overflow: auto;
    padding: 4rem;

    & .main-container{
        max-width: 33rem;
        margin-left: auto;
    }

    & .back{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    & h1{
        font: 600 1.5rem/1.15 var(--font-family);
        margin-bottom: 0.5rem;
    }
}

aside{
    background-color: var(--surface-secondary);
    padding: 4rem;

    & .asidecontainer{
        max-width: 31rem;
        /* margin-left: auto; */

        & > img{
            margin-top: 2rem;
        }
    }

    & h2{
        font: 600 3.5rem/1.15 var(--font-family);

        & span{
            color: var(--text-highlight);
        }
    }
}