*{
    margin: 0;
    padding: 0;
    justify-content: center;
}

:root{
    font-family: 'Open Sans', sans-serif;
    line-height: 120%;
}

body{
    background-color: #f5f4f0;
    color: #333333;
}

main{
    margin-top: 88px;
}

img{
    border-radius: 16px;
    width: 100%;
    margin-bottom: 0 80px 0 80px;
}

.pTitle{
    color: #E5245E;
    font-weight: bold;
    text-transform: uppercase;
}

#page{
    width: 1280px;
    box-sizing: border-box;
    margin: 88px auto ;
}

h4{
    margin-bottom: 12px;
}

footer{
    margin-top: 30px;
    text-align: center;
}

footer img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

#desc{
    margin-bottom: 129px;
    width: 1120p;
}

.divider{
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9
}

ul li::marker{
    color:#333333
}

li{
    margin-left: 80px;
    margin-bottom: 20px;
}

.list{
    margin-left: 80px;
}
