section#contact{
    background-image: url('../assets/images/Background_Contacts.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* ou a altura desejada */

    display: grid; 
    align-items: center;   
    justify-content: center;

    padding: 120px 120px 120px 120px;

    .title-contact {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .contact-tags{
        display: flex; 
        align-items: center;   
        /* justify-content: center; */
        height: 68px;
        width: 400px;
        background-color: var(--gray-400);
        text-decoration: none;
    }

    .contact-tags span{
        color: var(--gray-200);
    }

    .text-md{
        padding-bottom: 48px;
    }

    .arrow-up-right{
        margin-left: auto;
        margin-right: 20px;
        height: 20px;
        width: 20px;
    }

    .contact-tags:hover{
        border: 1px solid var(--color-red);
    }
    
    a{
        text-decoration: none;
        padding: 10px;
    }

}

.contact-tags img{
    width: 28px;
    height: 28px;
    margin: 20px 8px 20px 20px;
}