header.container {
    width: 100%;
    height: 100vh; /* ou a altura desejada */
}

header.container .background {
    background-image: url('../assets/images/Background_Intro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente */
    height: 100%;
    width: 100%;
}

header.container .content {
    text-align: center;
    max-width: 700px;
    padding: 20px;
}


#pictureBernardo{
    height: 112px;
    width: 112px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 3px solid var(--color-red);
    border-radius: 100px;
} 

#subtitle{
    padding-top: 16px;
    gap: 26px;
}

#description{
    color: var(--gray-300);
    padding-top: 16px;
}

h1{
    padding-top: 16px;
}

.destaque{
    color: var(--color-red);
}

#tags-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;

    span{
        color: var(--gray-200);
        padding-left: 2px;
        font: var(--text-md);
    }

    .tags{
        display: flex;
        height: 40px;
        width: 114px;
        background-color: var(--gray-400);
        border-radius: 40px;
        padding: 4px 16px;
        align-items: center;    
    }

}




