.grid{
    display: grid;
}

.grid-flow-col{
    grid-auto-flow: column;
}

.grid-columns{
    grid-template-columns: repeat(3, 1fr);
}

.gap-16{
    gap: 16px;
}

.gap-24{
    gap: 24px;
}

.gap-32{
    gap: 32px;
}

h1{
    font: var(--title-lg);
    color: var(--gray-100);
}

h3{
    font: var(--title-md);
    color: var(--gray-100);
}

.text-sm{
    font: var(--text-sm);
    color: var(--gray-200);
}

.subtitle{
    font: var(--subtitle);
    color: var(--gray-200);
    stroke: var(--gray-300);
}

.title-sm{
    font: var(--title-sm);
    color: var(--gray-100);
}

.subtitle-red{
    font: var(--subtitle);
    color: var(--color-red);
}
