.drop-zone{
    border: 1px dashed var(--stroke-default);
    border-radius: 0.25rem;

    display: grid;
    justify-items: center;
    gap: 0.5rem;

    text-align: center;
    padding: 1.75rem 1rem;

    position: relative;
    /*alterar o input file para funcionar na div toda */
    & input{
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
    }

    & p{
        color: #A8A29E;
    }

    &:hover, &:has(input:focus){
        border-width: 2px;
        border-color: var(--stroke-hightlight);
        background-color: var(--surface-secondary);
        
        & p{
            color: var(--text-terciary);
        }

        /* alterada a img por  codigo svg, aqui altera a cor da lina do svg*/
        & svg path{
            stroke: var(--stroke-hightlight);
        }
    }

    
}