input, textarea, select{
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid  var(--stroke-default);

    padding: 0.75rem 1rem;
    font: vr(--text);
}

label{
    font: var(--text-sm);
    color: var(--text-seconday);

    /* block pq se não for é inline, então no block aceita margin-bottom */
    display: block;
    margin-bottom: 0.25rem;
}

input:focus,
select:focus,
textarea:focus{
    outline: 0.25rem solid var(--surface-secondary);
    border: 0.125rem solid var(--stroke-hightlight);
}

input[type="date"]{
    position: relative;

    /*malandragem pra esconder o icone e manter funcionalidade */
    &::-webkit-calendar-picker-indicator{
        opacity: 0;
    }

    &::before{
        content: "";
        position: absolute;
        background: url(../../assets/icons/calendar-03.svg) center/contain;
        right: 1rem;
        width: 1.25rem;
        height: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

select{
    /* função calc está recuando ele 16px ou 1 rem*/
    background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
    
}